<div *ngIf="role=='administrador'">
    <header class="header">
        <a class="logo" href="#">Muni Tickets</a>
        <input type="checkbox" id="menu-btn" class="menu-btn">
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <ul class="menu">
            <li><a (click)="home()">Inicio</a></li>
            <li><a (click)="adminTickets()">Tickets</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a (click)="logOut()">LogOut</a></li>
        </ul>
    </header>
</div>

<!-- SECCION DASHBOARD ADMINISTRADOR -->
<section class="dashboard-content" *ngIf="role=='administrador'">
    
    <div class="ticket-details">
        <div class="ticket-quantity-details">
            <div class="number-percentil-data case-1">
                <h5>{{dataDashboard?.quantityCreatedTickets}}</h5>    
            </div>
            <div class="container-details">
                <p>En la aplicación se han creado esta cantidad de tickets.</p>
            </div>
        </div>
        <div class="ticket-user-details">
            <div class="number-percentil-data case-2">
                <h5>{{dataDashboard?.percentilTicketsCreatedByUsers}} %</h5>
            </div>
            <div class="container-details">
                <p>Este porcentaje de usuarios han creado tickets.</p>
            </div>
        </div>
        <div class="closed-ticket-user-details">
            <div class="number-percentil-data case-3">
                <h5>{{dataDashboard?.percentilClosedTickets}} %</h5>
            </div>
            <div class="container-details">
                <p>Este porcentaje de tickets han sido cerrados por los usuarios.</p>
            </div>
        </div>
    </div>
    
    <div class="ticket-operations">
        <div class="container-buttons">
            <div class="view-tickets" (click)="redirectTicketsView()">
                <label>VER TICKETS</label>
            </div>
            <div class="generate-report" (click)="redirectViewGenerateReport()">
                <label>GENERAR UN REPORTE</label>
            </div>
        </div>
        <div class="container-chart" *ngIf="dataDashboard != undefined && dataDashboard != []">
            <h3>Tickets abiertos</h3>
            <canvas baseChart
                [type]="'line'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions">
            </canvas>
        </div>    
    </div>

</section>
<!-- FIN SECCION DASHBOARD ADMINISTRADOR -->

<div *ngIf="role=='usuario'">

    <header class="header">
        <a class="logo" href="#">Muni Tickets</a>
        <input type="checkbox" id="menu-btn" class="menu-btn">
        <label class="menu-icon" for="menu-btn">
            <span class="nav-icon"></span>
        </label>
        <ul class="menu">
            <li><a (click)="home()">Inicio</a></li>
            <li><a (click)="viewHistory()">Tickets</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a (click)="logOut()">LogOut</a></li>
        </ul>
    </header>

    <div class="content-center">
        <a (click)="createTicket()" class="button1" style="background-color:#2ebd94">
             <span
                style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; vertical-align:middle">T</span>
             Crear un Nuevo Ticket
        </a>
        <a (click)="viewHistory()" class="button1" style="background-color:#2ebd94">
             <span
                style="font-size:3em; font-family:'Comic Sans MS'; border-right:1px solid rgba(255,255,255,0.5); padding-right:0.3em; margin-right:0.3em; vertical-align:middle">H</span>
             Ver Historial de Tickets
        </a>
    </div>

</div>

<div class="content" *ngIf="role!=='usuario' && role!=='administrador'">
    <h4>No content avaiable for this role.</h4>
</div>