<div class="container-ticket">
    <div class="section-date">
        <h3>{{ticket.createdAt!.slice(7,10)}}</h3>
        <h5>{{ticket.createdAt!.slice(4,6)}}</h5>
    </div>
    <div class="section-content">

        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <h4 class="ticket-type">Tipo: {{ticket!.type}}</h4>
                <h3 class="ticket-title">{{ticket!.title}}</h3>
                <div class="ticket-content-body">

                    <div class="description-data">                
                        <h5>{{ticket!.department}}</h5>
                        <p>{{ticket!.description}}</p>
                    </div>
                    <div class="puntual-data">
                        <h5>Status: <label [ngClass]="getColorClass()">{{ticket!.status}}</label></h5>
                        <p>{{ticket!.createdAt}}</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-xs-6">
                <div class="action-buttons">
                    <button type="button" class="btn btn-warning btn-sm">Editar estado</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar ticket</button>
                </div>
            </div>
        </div>

    </div>
</div>
