<div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
        <header>Recover account</header>
        <form action="#">
            <label>
                Se enviara a tu correo un codigo de inicio de sesion.<br/><br/>
            </label>
            <input type="text" placeholder="Ingresa tu Correo">            
            <input type="button" class="button" value="Recuperar contraseña">
        </form>
        <div class="signup">
            <span class="signup">No tienes una cuenta?
                <label for="check" routerLink="/auth/register-user" routerLinkActive="active">Registro</label>
            </span>
        </div>
    </div>
</div>